extends main
    
block content
  div.delete#page-wrapper(style="min-height: 466px;")
    div.container-fluid(style="margin-top: 50px; margin-bottom: 50px;")
        h3 Resultado de la busqueda
        h5 Cantidad de resultados #{cantidad}
        if (tipo == 'positivos')
            table.table.table-striped
                thead.thead-dark
                    tr
                        th(scope="col") #
                        th(scope="col") Nombre y Apellidos
                        th(scope="col") Carnet 
                        th(scope="col") Edad 
                        th(scope="col") Sexo
                        th(scope="col") Categoria
                        th(scope="col") Unidad
                        th(scope="col") Provincia 
                        th(scope="col") Municipio
                        th(scope="col") Direccion
                        th(scope="col") F. Ingreso
                        th(scope="col") F. PCR
                        th(scope="col") FIS
                tbody
                    - var contador = 1
                    each result in results
                        tr
                            th(scope="row")
                                p= contador++
                                td 
                                    p= result.nombre
                                td 
                                    p= result.ci
                                td 
                                    p= result.edad
                                td 
                                    p= result.sexo
                                td 
                                    p= result.categoria 
                                td 
                                    p= result.unidad
                                td 
                                    p= result.provincia 
                                td 
                                    p= result.municipio
                                td 
                                    p= result.direccion
                                td 
                                    p= result.fechaingreso
                                td 
                                    p= result.fechapcr
                                td 
                                    p= result.fis
        if (tipo == 'historicos')
            table.table.table-striped
                thead.thead-dark
                    tr
                        th(scope="col") #
                        th(scope="col") Nombre y Apellidos
                        th(scope="col") Carnet 
                        th(scope="col") Edad 
                        th(scope="col") Sexo
                        th(scope="col") Categoria 
                        th(scope="col") Unidad
                        th(scope="col") Provincia 
                        th(scope="col") Municipio
                        th(scope="col") Direccion
                        th(scope="col") F. Ingreso
                        th(scope="col") F. Alta
                tbody
                - var contador = 1
                each result in results
                    tr
                        th(scope="row")
                                p= contador++
                            td 
                                p= result.nombre
                            td 
                                p= result.ci
                            td 
                                p= result.edad
                            td 
                                p= result.sexo
                            td 
                                p= result.categoria
                            td 
                                p= result.unidad
                            td 
                                p= result.provincia 
                            td 
                                p= result.municipio
                            td 
                                p= result.direccion
                            td 
                                p= result.fechaingreso
                            td 
                                p= result.fechaalta      
        if (tipo == 'buscar')
            h6 Tabla positivos #{results[0].length}
            table.table.table-striped
                thead.thead-dark
                    tr
                        th(scope="col") #
                        th(scope="col") Nombre y Apellidos
                        th(scope="col") Carnet 
                        th(scope="col") Edad 
                        th(scope="col") Sexo
                        th(scope="col") Categoria
                        th(scope="col") Unidad
                        th(scope="col") Provincia 
                        th(scope="col") Municipio
                        th(scope="col") Direccion
                        th(scope="col") F. Ingreso
                        th(scope="col") F. PCR
                        th(scope="col") FIS
                tbody
                    - var contador = 1
                    each result in results[0]
                        tr
                            th(scope="row")
                                p= contador++
                                td 
                                    p= result.nombre
                                td 
                                    p= result.ci
                                td 
                                    p= result.edad
                                td 
                                    p= result.sexo
                                td 
                                    p= result.categoria 
                                td 
                                    p= result.unidad
                                td 
                                    p= result.provincia 
                                td 
                                    p= result.municipio
                                td 
                                    p= result.direccion
                                td 
                                    p= result.fechaingreso
                                td 
                                    p= result.fechapcr
                                td 
                                    p= result.fis
            h6 Tabla historicos #{results[1].length}
            table.table.table-striped
                thead.thead-dark
                    tr
                        th(scope="col") #
                        th(scope="col") Nombre y Apellidos
                        th(scope="col") Carnet 
                        th(scope="col") Edad 
                        th(scope="col") Sexo
                        th(scope="col") Categoria 
                        th(scope="col") Unidad
                        th(scope="col") Provincia 
                        th(scope="col") Municipio
                        th(scope="col") Direccion
                        th(scope="col") F. Ingreso
                        th(scope="col") F. Alta
                tbody
                - var contador = 1
                each result in results[1]
                    tr
                        th(scope="row")
                                p= contador++
                            td 
                                p= result.nombre
                            td 
                                p= result.ci
                            td 
                                p= result.edad
                            td 
                                p= result.sexo
                            td 
                                p= result.categoria
                            td 
                                p= result.unidad
                            td 
                                p= result.provincia 
                            td 
                                p= result.municipio
                            td 
                                p= result.direccion
                            td 
                                p= result.fechaingreso
                            td 
                                p= result.fechaalta 