extends main
    
block content
  div.delete#page-wrapper(style="min-height: 466px;")
    div.container-fluid(style="margin-top: 50px; margin-bottom: 50px;")
      div.row
        div.col-lg-12
          div.panel.panel-default
            div.panel-heading 
              h3 Altas del d&iacute;a
            div.panel-body
              div.table-responsive
                table.table.table-striped.table-bordered.table-hover(id="dataTables" )
                  thead.thead-dark
                    tr
                      th(scope="col") #
                      th(scope="col") Nombre y Apellidos
                      th(scope="col") Carnet 
                      th(scope="col") Edad 
                      th(scope="col") Sexo
                      th(scope="col") Categoria 
                      th(scope="col") Unidad
                      th(scope="col") Provincia 
                      th(scope="col") Municipio
                      th(scope="col") Direccion
                      th(scope="col") F. Ingreso
                  tbody
                    - var contador = 1
                    each alta in altas
                      tr
                        th(scope="row")
                          p= contador++
                          td 
                            p= alta.nombre
                          td 
                            p= alta.ci
                          td 
                            p= alta.edad
                          td 
                            p= alta.sexo
                          td 
                            p= alta.categoria
                          td 
                            p= alta.unidad
                          td 
                            p= alta.provincia 
                          td 
                            p= alta.municipio
                          td 
                            p= alta.direccion
                          td 
                            p= alta.fechaingreso